.btn-counter {

justify-content: center;
align-items: center;
flex: none;
margin-top: 10px;
}

.list-name {
    display: table;
    margin: 0 auto;
    padding: 10px;
}

ul {
    list-style: none;
}
 li {
     display: flex;
 }