.container-form {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.btn-form {
    margin: 10px;
}

.text-field-form{
    display: flex;
}

.single-field {
    padding: 15px;
}