.footer{
    background-color:#404040;
    position: absolute;
    bottom: 0;
 }
 .footer a{
    color:white;
    padding-right:10px;
 }
 .footer a:hover{
    color:grey;
 }

 .icons {
     width: fit-content;
     margin-left: auto;
     margin-right: auto;
     padding: 5px;
}
